h1:first-letter {
    text-transform:capitalize;
}

div{

}

h1, li, ul {
    float: none;
    text-align: center;
    list-style: none;
}

li, ul {
  margin-left: -20px;
}



img {

  display: block;
margin-left: auto;
margin-right: auto;
}

select {
display: block;
margin: 0 auto;
}

label {
display: block;
text-align: center;}
